<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
      <link href="static/css/style.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row m-4 p-4">

        </div>
        <div class="row">
            <div class="col-lg-6">
                 <div class="card">
                     <div class="card-header">
                        Upload new File
                      </div>
                     <div class="card-body">
                        <form method=post enctype=multipart/form-data>
                            <div class="mb-3">
                              <input class="form-control" type="file" id="formFile" name=file>
                            </div>
                          <input type=submit value=Upload>
                        </form>
                     </div>
                 </div>
            </div>
            {% if models|length > 0 %}
            <div class="col-lg-6">
                <div class="card">
                     <div class="card-header">
                        Uploaded File
                      </div>
                     <div class="card-body">
                         <div class="container-fluid">
                             <div class="row">
                                 <div class="col-lg-6">
                                    <img src="{{models[0]}}" class="img-fluid" alt="..." width="160" height="60">
                                     <form method=post enctype=multipart/form-data action="{{ url_for('predict') }}">
                                         <input type=submit value=Predict onclick="btn_predict_click()">
                                     </form>
                                 </div>
                                 <div class="col-lg-6">
                                   {% if models|length == 2 %}
                                      <p>{{models[1]}}</p>
                                   {% endif %}
                                     <div class="spinner-border text-info" role="status"  id="loader" style="display:none">
                                          <span class="visually-hidden">Loading...</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <script src="static/scripts/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>